<div class="container" *ngIf="eventDetails">

  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Evaluating Event : {{eventDetails.name}}</div>
        <div class="panel-body">
          Problem Statement : <br>
          {{eventDetails.problemStatement}}<br><br>
          Rules and Regulations : <br>
          {{eventDetails.rulesAndRegulations}}
        </div>
      </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Github Repo Link</th>
        <th *ngFor="let config of eventDetails?.evaluationConfiguration">
          {{config.parameter}} <br>
          (Max Score : {{config.maxScore}}) <br>
          (Weightage : {{config.weightage}})
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams; let i=index">
        <th>{{team._id.name}}</th>
        <th>{{team.repoLink ? team.repoLink : "-"}} </th>
        <th *ngFor="let config of team?.evaluations">
            <input type="number" class="form-control" id="config{{i+config.name}}" [disabled]="config.judge != judgeId"
            required [(ngModel)]="config.score" (change)="checkRange(config)" name="name" #name="ngModel">
          </th>
      </tr>
    </tbody>
    <tfoot>
      <button class="btn btn-primary" [disabled]="invalidForm" (click)="submitEvaluation(teams)">Submit</button>
    </tfoot>
  </table>

</div>