.bottom-left {
  position: absolute;
  bottom: 60px;
  right: 20px;
}
.icon-span {
  position: absolute;
  bottom: 50px;
  right: 20px;
}
.footer {
position: fixed;
bottom: 0;
width: 100%;
height: 50px;
background: #fafafa;
border-top: solid 1px #eee;
}

.footer p {
margin-top: 10px;
}

.iframechat{
  width:330px;
  height: 610px;
  display:none;
  margin-bottom: 40px;
}
.iframechat.open{
display: block;
}