<div class="container">
  <div class="row">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Add Judge</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" (ngSubmit)="addJudge(judgeForm.value)" [formGroup] = "judgeForm">
          <fieldset>
            <legend>Fill following details</legend>
            <div class="col-lg-8">
              <div class="form-group">
                <label for="inputName" class="col-lg-4 control-label">Name*</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" required id="fullname" formControlName = "name" placeholder="Name" >
                  <div *ngIf="submitted && judgeForm.fullname.errors" class="invalid-feedback">
                      <div *ngIf="judgeForm.fullname.errors.required">*Name is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail" class="col-lg-4 control-label">Email*</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" formControlName="email" placeholder="Email" required>
                  <div *ngIf="submitted && judgeForm.email.errors" class="invalid-feedback">
                      <div *ngIf="judgeForm.email.errors.required">Email is required</div>
                      <div *ngIf="judgeForm.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
              </div>

              <div class="form-group">
                <label for="specialization" class="col-lg-4 control-label">Specialization</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" required id="specialization" formControlName="specialization" placeholder="Specialization">
                </div>
              </div>

              <div class="form-group">
                <label for="inputNumber" class="col-lg-4 control-label">Contact Number</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" formControlName="contactNo" placeholder="Enter Mobile Number">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword" class="col-lg-4 control-label">Password</label>
                <div class="col-lg-8">
                  <div class="input-group">
                    <input #password type="password" class="form-control" id="inputPassword" formControlName = "password"  placeholder="Password" rqeuired >
                    <span class="input-group-btn">
                      <a class="btn btn-default" (click)="showPassword(password)">Show</a>
                    </span>
                  </div>
                  <div *ngIf="submitted && judgeForm.passwd.errors" class="invalid-feedback">
                      <div *ngIf="judgeForm.passwd.errors.required">*Password field is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-12 col-lg-offset-4">
                  <button type="submit" class="btn btn-success">Register</button>
                </div>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
