<app-header></app-header>
  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center">Register as an Organization to host event</h3>
      <h3 style="text-align: center">Register as an Participant to take the challenge</h3>
    </div>
  </div>
  <div class="container ">
  <div class="row">
  <div class="col-md-12">
    <span class="col-md-2"></span>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">Organize hackathon event and found out talents in your organization.</div>
        <div class="panel-footer">
          <button class="btn btn-lg btn-success" routerLink="/organizer-registration">
            <span class="glyphicon glyphicon-user"></span> Register
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">Register as a participant and show your coding passion.</div>
        <div class="panel-footer">
          <button class="btn btn-lg btn-success" routerLink="/user-registration">
            <span class="glyphicon  glyphicon-user"></span> Register
          </button>
        </div>
      </div>
    </div>
    <span class="col-md-2"></span>
   </div>
  </div>
  </div>
  <app-footer></app-footer>
