  <div class="col-md-12">
    <h2 style="text-align: center">
      Join over Exela developer family.
      Practice coding, challenge yourself, and earn reward.
      <br><br>
      <button class="btn btn-lg btn-success"> Sign Up Now</button>
      <br>
    </h2>
  </div>

  <hr width="98%">

  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center">For Organizer</h3>
    </div>
    <div class="col-md-offset-3 col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">Organize hackathon event and found out talents in your organization.</div>
        <div class="panel-footer">
          <button class="btn btn-lg btn-success">
            <span class="glyphicon glyphicon-user"></span> Register
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Have a new idea for event.
          <br>
          Go create a new Event.
        </div>
        <div class="panel-footer">
          <button class="btn btn-lg btn-success">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </button>
        </div>
      </div>
    </div>
  </div>
