<app-header></app-header>
<div class="switch-field">
		<input type="radio" id="radio-one" name="switch-one" (click)="toggleLogin($event)" value="yes" checked/>
		<label for="radio-one">User Login</label>
		<input type="radio" id="radio-two" (click)="toggleLogin($event)" name="switch-one" value="no" />
		<label for="radio-two">Organizer Login</label>
	</div>

<div *ngIf="showuserSignIn" class="container">
	<div class="panel-group">
		<div class="panel panel-success">
			<div class="panel-body">
				<form  class="form-group"  (ngSubmit)="login(userLogin.value)"  [formGroup] ="userLogin">
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" class="form-control" id="email" formControlName = "email">
					</div>
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" class="form-control" id="pwd" formControlName = "password">
					</div>
					<div class="checkbox">
						<label><input type="checkbox"> Remember me</label>
					</div>
					 <button type="submit" class="btn btn-lg btn-success" >Login</button>
				</form>

			</div>
		</div>
	</div>
</div>

  <div *ngIf="!showuserSignIn" class="container">
	<div class="panel-group">
		<div class="panel panel-success">
			<div class="panel-body">
				<form  (ngSubmit)="onOrgLogin(orgLogin.value)"  [formGroup] ="orgLogin">
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email"  formControlName = "email" class="form-control" id="email">
					</div>
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" class="form-control" formControlName = "password" id="pwd">
					</div>
					<div class="form-group">
						<div class="radio-inline">
							<input id="organizer" type="radio" class="custom-control-input" value="organizer" name="userType" formControlName="userType">
							<label class="custom-control-label" for="organizer">Organizer</label>
						</div>
						
						<div class="radio-inline">
							<input id="judge" type="radio" class="custom-control-input" value="judge" name="userType" formControlName="userType">
							<label class="custom-control-label" for="judge">Judge</label>
						</div>
						
						<div *ngIf="isSubmitted && orgLogin.invalid">
							<p>Please select either value</p>
						</div>
					</div>
					<div class="checkbox">
						<label><input type="checkbox"> Remember me</label> 
					</div>
					 <button class="btn btn-lg btn-success">Login</button>
				</form>

			</div>
		</div>
	</div>
  </div>