<div class="row">
  <div class="col-md-12" style="text-align: center">
    <h3>Registerd Teams</h3>
    <p>All registered teams for this an event.</p>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th>Title</th>
              <th>Tag Line</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams">
            <td>{{team._id.name}}</td>
            <td>{{team._id.tagline}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>