<div class="container ">
  <div class="row">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Challenge Accepted</h3>
      </div>
      <div class="panel-body" style="height: 700px; overflow-y : auto">
        <div class="form-horizontal">
          <fieldset>
            <div class="col-lg-8">
              <div class="form-group">
                <label for="inputName" class="col-lg-4 control-label">Event Name</label>
                <div class="col-lg-8">
                  {{event.name}}
                </div>
              </div>

              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">Start Date</label>
                <div class="col-sm-8">
                    {{event.startDateTime | date}}
                </div>
              </div>

              <div class="form-group">
                <label for="inputName" class="col-sm-4 control-label">End Date</label>
                <div class="col-sm-8">
                    {{event.endDateTime | date}}
                </div>
              </div>

              <div class="form-group">
                <label for="inputName" class="col-lg-4 control-label">Short Description</label>
                <div class="col-lg-8">
                    {{event.shortDescription}}
                </div>
              </div>

              <div class="form-group">
                <label for="inputName" class="col-lg-4 control-label">Problem Statement</label>
                <div class="col-lg-8">
                    {{event.problemStatement}}
                </div>
              </div>

              <div class="form-group">
                <label for="inputName" class="col-lg-4 control-label">Rules and Regulations</label>
                <div class="col-lg-8">
                    {{event.rulesAndRegulations}}
                </div>
              </div>

              <div class="form-group">
                  <label for="inputName" class="col-lg-4 control-label">Github Repo Link</label>
                  <div class="col-lg-8">
                      {{event?.githubRepoLink ? event.githubRepoLink : 'N/A'}}
                  </div>
              </div>
  
              <div class="col-md-12">
                <div class="col-md-4" *ngFor="let prizeModel of prizes">
                    <div class="panel panel-default" style="text-align: center;">
                      <div class="panel-heading"><div class="panel-body">{{prizeModel.description}}</div></div>
                      <div class="panel-body">{{prizeModel.title}}</div>
                      <div class="panel-footer">Amount : ₹{{prizeModel.amount}}</div>
                    </div>
                </div>
                
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
