.panel-default>.panel-heading {
    color: #333;
    background-color: #4d4dff;
    border-color: #ddd;
    font-weight: bold;
    text-align: center;
}

.panel-default>.panel-body {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
    font-weight: bold;
    text-align: center;
}