
.completed {
    width: 20px;
    background-color: #f5a938;
    border-radius: 5px;
    padding: 5px;
}

.published {
    width: 20px;
    background-color: #FF5900;
    border-radius: 5px;
    padding: 5px;
}

.scheduled {
    width: 20px;
    background-color: #07a32e;
    border-radius: 5px;
    padding: 5px;
}

.ongoing {
    width: 20px;
    background-color: #288DFE;
    border-radius: 5px;
    padding: 5px;
}