.startEvent {
  position: absolute;
  bottom: 2px;
  padding-left:0.5em;
}

.endEvent {
  position: absolute;
  bottom: 2px;
  padding-left:5.5em;
}

.duration-date {
    float: right;
    font-size: medium;
}

.completed {
    width: 20px;
    background-color: #f5a938;
    border-radius: 5px;
    padding: 5px;
}

.ongoing {
    width: 20px;
    background-color: #00FFFF;
    border-radius: 5px;
    padding: 5px;
}

.scheduled {
    width: 20px;
    background-color: #07a32e;
    border-radius: 5px;
    padding: 5px;
}

.ongoing {
    width: 20px;
    background-color: #288DFE;
    border-radius: 5px;
    padding: 5px;
}