.startEvent {
  position: absolute;
  bottom: 8px;
  padding-left: 0.7em;
}

.endEvent {
  position: absolute;
  bottom: 8px;
  padding-left: 8em;
}
 .roundImg{
     border-radius: 50%;
 }
 .eventSelected {
     background-color: #abc;
 }
 .eventSelected:hover {
     background-color: #ffaa00;
 }
.published {
    width: 20px;
    background-color: #FF5900;
    border-radius: 5px;
    padding: 5px;
}

.duration-date {
    float: right;
    font-size: medium;
}

.completed {
    width: 20px;
    background-color: #f5a938;
    border-radius: 5px;
    padding: 5px;
}

.scheduled {
    width: 20px;
    background-color: #07a32e;
    border-radius: 5px;
    padding: 5px;
}

.ongoing {
    width: 20px;
    background-color: #288DFE;
    border-radius: 5px;
    padding: 5px;
}