<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Register New Organization</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" (ngSubmit)="onSubmit(orgForm.value)" [formGroup]="orgForm">
          <fieldset>
            <legend>Fill following details</legend>
            <div class="col-lg-8">
              <div class="form-group">
                <label for="inputName" class="col-lg-4 control-label">Name*</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" required id="fullname" formControlName="name"
                    placeholder="Name">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-danger">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-4 control-label">Email*</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" formControlName="email" placeholder="Email" required>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback  text-danger">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Enter valid email address</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="organization" class="col-lg-4 control-label">Organization Name*</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" required id="orgname" formControlName="organization"
                    placeholder="Your Organization name">
                  <div *ngIf="submitted && f.organization.errors" class="invalid-feedback text-danger">
                    <div *ngIf="f.organization.errors.required">Organization Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-4 control-label">Date Of Birth*</label>
                <div class="col-lg-8">

                  <input class="form-control" formControlName="dob" placeholder="Your date of birth"
                   [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [max]="max">
                   <div *ngIf="submitted && f.dob.errors" class="invalid-feedback text-danger">
                    <div *ngIf="f.dob.errors.required">Birthdate is required</div>
                  </div>
                  <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                </div>
              </div>
              <div class="form-group">
                <label for="inputNumber" class="col-lg-4 control-label">Contact Number</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" formControlName="contactNo" placeholder="+91-">
                  <div *ngIf="submitted && f.contactNo.errors" class="invalid-feedback text-danger">
                    <span *ngIf="f.contactNo.errors.invalidNumber">Contact Number has to be a number </span>
                    <div *ngIf="f.contactNo.errors && !f.contactNo.errors.invalidNumber">Enter valid Contact Number
                    </div>
                  </div>
                </div>
              </div>


              <!--<div class="form-group">
              <label for="logo" class="col-lg-4 control-label">logo</label>
             <div class="col-lg-4">
            <input type="file" class="form-control" id="inputfile" formControlName = "logo" name="log">
          </div>
             </div>-->

              <div class="form-group">
                <label for="inputPassword" class="col-lg-4 control-label">Password*</label>
                <div class="col-lg-8">
                  <div class="input-group">
                    <input #password type="password" class="form-control" id="inputPassword" formControlName="password"
                      placeholder="Password" rqeuired>
                    <span class="input-group-btn">
                      <a class="btn btn-default" (click)="showPassword(password)">Show</a>
                    </span>
                  </div>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback  text-danger">
                    <div *ngIf="f.password.errors.required">Password field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12 col-lg-offset-4">
                  <button type="submit" class="btn btn-success">Register</button>
                </div>
              </div>

            </div>

          </fieldset>

        </form>

      </div>
    </div>
  </div>
</div>