<section style="height:833px">
<div class="container">
    <div class="row" *ngIf="isTeamCreate">
        <form class="form-horizontal" (ngSubmit)="register(teamForm.value)" [formGroup] = "teamForm" >
          <fieldset>
          <legend>Fill your Team details</legend>
          <div class="col-lg-8">
            <div class="form-group">
              <label for="inputTeamName" class="col-lg-4 control-label">Team Name*</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" required id="name" formControlName = "name" placeholder="Your Team name" >
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">*Name is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputTagLine" class="col-lg-4 control-label">Tag Line</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName = "tagline" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label for="inputDemoUrl" class="col-lg-4 control-label">Demo URL</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName = "demoURL" placeholder="Your project live URL">
              </div>
            </div>

            <div class="form-group">
              <label for="inputDemoUrl" class="col-lg-4 control-label">Add New Members</label>
              <div class="col-lg-8"> 
               
                  <input type="text" class="form-control" placeholder="Search using email..." #userEmail (keyup)='keyUser(userEmail.value)'>
               
                <div *ngIf="isMemberFound">  
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th>Full Name</th>
                        <th>Email ID</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users; index as i">
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td><a class="btn btn-success" (click)="addMemeber(user,i)">Add</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

             <div class="form-group">
              <label for="inputDemoUrl" class="col-lg-4 control-label">Team Members</label>
              <div *ngIf="members.length > 0">
                <div class="col-lg-8">
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th>Full Name</th>                     
                        <th>Email ID</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                  <tbody>
                   
                    <tr class="info" *ngFor="let member of members; index as i">
                       <td>{{member.firstName}} {{member.lastName}}</td>                       
                       <td>{{member.email}}</td>
                       <td><a class="btn btn-warning" (click)="removeMemeber(i)">Remove</a></td>
                    </tr>
                   </tbody>
                </table>
              </div>
              </div>
              <div *ngIf="members.length == 0">
                 <div class="col-lg-8">
                <p class="text-danger">No Members in this team</p>
                </div>
              </div>
            </div>

            <div class="form-group" >
              <div class="col-lg-12 col-lg-offset-4">
                <button type="reset" class="btn btn-default" (click)="cancel()">Cancel</button> &nbsp;
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </fieldset>
        </form>


    </div>
    <div class="row" *ngIf="!isTeamCreate">
        <!-->To show the list of Teams here<-->
        <div class="col-lg-12">
         <button class="btn btn-success" (click)="createTeam()">Add Team</button>
         <table class="table table-striped table-hover ">
            <thead>
                <tr>
                  <th>Title</th>
                  <th>Tag Line</th>
                  <th>Team Members</th>
                  <th>Action</th>
                </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{team.name}}</td>
      <td>{{team.tagline}}</td>
      <td rowspan="team.members.length">
        <div class="row" *ngFor="let member of team.members">
          <div class="col-md-10">
            {{member.email}}
            <i *ngIf="team.teamLeaderId == member._id" class="fa fa-user-o" aria-hidden="true"></i>
          </div>
          <div *ngIf="team.teamLeaderId != member._id" class="col-md-2">
              <i (click)="removeMemberFromTeam(team, member._id)" class="fa fa-trash-o"></i>
          </div>
        </div>
      </td>
      <td>
        <a (click)="removeMemberFromTeam(team, userID)" *ngIf="team.teamLeaderId != userID" class="btn btn-danger">Leave</a>
      </td>
    </tr>
  </tbody>
</table>
    </div>
    </div>

</div>
<section>
