<div class="container" id = "team-list" >
<form class="form-horizontal">
  <div>
    <head>
    My Team List :
    </head>
  </div>
  <div class="table-responsive">
    <h3 style="color:darkgrey">Team List</h3>
    <table class="table table-bordered table-striped table-highlight">
      <thead>
      <th scope="col">Name</th>
      <th scope="col">Repo Link</th>
      <th scope="col">Demo Link</th>
      <th scope="col">Creativity</th>
      <th scope="col">Usability</th>
      <th scope="col">Technicality</th>
      <th scope="col">Scalability</th>
      <th scope="col">Business Value</th>
      </thead>
      <tbody>
        <tr>
          <td>Ashish</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
        </tr>
         <tr>
          <td>Ashish</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
        </tr>
         <tr>
          <td>Ashish</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
        </tr>
         <tr>
          <td>Ashish</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
        </tr>
         <tr>
          <td>Ashish</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td>https://github.com/ashish9308/Test-Hackathon-Repo</td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
 <br><br>
      <button class="btn btn-lg btn-success">Save</button>
      <br>
</div>

<div class="container" id = "team-list">
<form class="form-horizontal">
  <h3 style="color:darkgrey">Top Teams</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-highlight">
    <tbody>
        <tr>
          <th>Rank</th>
          <th>Logo</th>
          <th>Team Name</th>
          
        </tr>
        <tr>
          <th>#1</th>
            <td>ABC</td>
            <td>ABC</td>
        </tr>
        <tr>
          <th>#2</th>
            <td>John</td>
            <td>ABC</td>
        </tr>
        <tr>
          <th>#3</th>
          <td>DEF</td>
          <td>ABC</td>
        </tr>
    </tbody>
    </table>
  </div>
</form>
</div>