<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Profile Details</div>
        <div class="panel-body">
          <img *ngIf="!organizerDetails.logo" src="assets/images/user.png" alt="user.png"
            style="width:150px;height:150px;">
          <img *ngIf="organizerDetails.logo" [src]="organizerDetails.logo" alt="user.png"
            style="width:150px;height:150px;">
          <h1>{{organizerDetails.name }} </h1>
          <span class="label label-success">ORGANIZER</span>
          <br />
          <br />
          <button class="btn btn-primary" routerLink="/organizer/update-profile">Edit Profile</button>
          <h5>{{organizerDetails.email}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>