<div class="container">

  <div class="right-align">
    <button class="btn btn-primary" routerLink="/organizer/create-event">
      Create Event
    </button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" *ngIf="events.length > 0">
          <div class="panel panel-default" *ngFor="let event of events">
            <div class="panel-heading">
              {{event.name}}
              <span class={{event.status}}>{{event.status | uppercase}}</span>
            </div>
            <div class="panel-body">
              {{event.shortDescription}}
                <span class="duration-date">
                    From : <b>{{event.startDateTime | date: 'short'}}</b><br>
                    To : <b>{{event.endDateTime | date: 'short'}}</b>
                </span>
            </div>
            <div *ngIf="event.status !== 'cancelled'" class="panel-footer">
                <button *ngIf="event.status == 'scheduled'" class="btn btn-danger btn-padding" (click)="cancelEvent(event)">Cancel</button>
                  <button *ngIf="event.status == 'ongoing'" class="btn btn-primary btn-padding" (click)="viewegisteredTeamsForEvent(event)">View Registered Teams</button>
                <button *ngIf="event.status == 'completed'" class="btn btn-primary btn-padding" (click)="evaluateEvent(event)">Evaluate</button>
                <button *ngIf="event.status == 'published'" class="btn btn-primary btn-padding" (click)="viewEventResult(event)">View Result</button>
            </div> 
        <div *ngIf="events.length == 0">
            No Event created yet.
        </div>
    </div>
  </div>
</div>