<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Profile Details</div>
        <div class="panel-body">
          <img *ngIf="!userDetails.image" src="assets/images/user.png" alt="user.png" style="width:150px;height:150px;">
          <img *ngIf="userDetails.image" [src]="userDetails.image" alt="user.png" style="width:150px;height:150px;">
          <h1> {{ userDetails.firstName}} {{userDetails.lastName }}</h1>
          <span class="label label-success">{{userDetails.designation}}</span>
          <br />
          <br />
          <button class="btn btn-primary" routerLink="/user/update-profile">Edit Profile</button>
          <h5>{{ userDetails.email }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>