<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Profile Details</div>
        <div class="panel-body">
          <img src="assets/images/user.png" alt="user.png" style="width:200px;height:200px">
          <h1> {{ userDetails.firstName}} {{userDetails.lastName }}</h1>
          <span class="label label-success">Developer</span>
          <br />
          <br />
          <button class="btn btn-primary">Edit Profile</button>
          <h5>{{ userDetails.email }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>